
<div ng-controller="LeftContentCtrl">
<div class="span3">
    <form class="form-search">
      <div class="controls">
        <input type="text" id="chapter-filter" name="chapter-filter" class="search-query input-medium"
               placeholder="Search" ng-model="searchQuerySetFilter"
               typeahead="item.name for item in searchQuerySet | filter:$viewValue | limitTo:8"/>
      </div>
    </form>
    <ul class="nav nav-pills nav-stacked" ng-show="searchQuerySetFilter.length" ng-cloak>
      <li ng-repeat="item in searchQuerySet | filter:searchQuerySetFilter | orderBy:'start'">
        <a ng-href="{[{ item.api_url }]}">
          {[{ item.name }]}
        </a>
      </li>
    </ul>


<h4>
  <a href="{% url 'chapters:list' %}">Chapters</a>
</h4>
    <ul class="nav nav-pills nav-stacked" ng-cloak ng-init="chaptersLimit=5">
      <li ng-repeat="chapter in chapters | filter:chapterFilter | orderBy:['has_admin', 'fraternity_title'] | limitTo:chaptersLimit">
        <a ng-href="{[{ chapter.absolute_url }]}"
           data-popover="
                                {[{ chapter.university_title }]}
                               
                                {[{ chapter.fraternity_title }]}
                                "
           data-popover-title="{[{ chapter.fraternity_title }]}"
           data-popover-placement="right"
           data-popover-trigger="mouseenter"
           data-popover-popup-delay="500"
           ng-bind="chapter.fraternity_title"
           class="{[{ chapter.color_class }]}">
        </a>
      </li>
      <li ng-show="chaptersLimit==5">
        <a ng-click="chaptersLimit=100">Show More</a>
      </li>
      <li ng-show="chaptersLimit==100">
        <a ng-click="chaptersLimit=5">Show Less</a>
      </li>
    </ul>

    {% block chapter_event_carousel %}
      <h4>
      <a href="{% url 'events:list' %}">Events</a>
      </h4>
      <ul class="nav nav-pills nav-stacked chapter-list">
        <li ng-repeat="event in events" active="event.active">
          <a href="/events/#/events/{[{ event.id }]}"><span class="{[{ event.text_color_class }]}">{[{ event.start | date:'MM/dd' }]} {[{ event.title }]}</span></a>
        </li>
      </ul>

      {% comment %}
    <div class="row">
    <div class="event-carousel">
    <carousel interval=5000>
        <slide ng-repeat="event in events" active="event.active">
            <div class="span3">
                <h4>
                <a href="/events/#/events/{[{ event.id }]}">
                <span class="{[{ event.text_color_class }]}">
                            {[{ event.title }]}
                </span>
                </a>
                </h4>
                <small>{[{ event.start | date }]} - {[{ event.end | date }]}</small>
                <p>{[{ event.description }]}</p>

            </div>

        </slide>
    </carousel>
    </div>
    </div>
    {% endcomment %}
    {% endblock chapter_event_carousel %}
  </div>
</div>

