<ul class="nav nav-list">
    <li class="nav-header">
        Search
    </li>
    <li>
        <input type="text" class="search-query input-block-level"/>
    </li>
    <li class="nav-header">
        Fraternities
    </li>
    <li>
    <ul class="nav nav-list muted">
        <li>
            Theta Chi
            <br/>
            <small>
                Highest CAT Score
            </small>
        </li>
        <li>
            Sigma Chi
            <br/>
            <small>
                Highest GPA
            </small>
        </li>
        <li>
            Pi Kappa Alpha
            <br/>
            <small>
                Most Community Service
            </small>
        </li>
    </ul>
    </li>
    <li class="nav-header">
        Sororities
    </li>
    <li>
    <ul class="nav nav-list muted">
        <li>
            Theta Chi
            <br/>
            <small>
                Highest CAT Score
            </small>
        </li>
        <li>
            Sigma Chi
            <br/>
            <small>
                Highest GPA
            </small>
        </li>
        <li>
            Pi Kappa Alpha
            <br/>
            <small>
                Most Community Service
            </small>
        </li>
    </ul>
    </li>
    <li class="nav-header">
        Events
    </li>
    <li>
        <ul class="nav nav-list muted">
            <li>
                Theta Chi
            </li>
            <li>
                Sigma Chi
            </li>
            <li>
                Pi Kappa Alpha
            </li>
        </ul>
    </li>
    <li class="nav-header">
        Greek of the Week
    </li>
    <li class="media">
            <a class="pull-left" href="#" style="margin-right:0;">
                <img class="media-object" data-src="holder.js/60x60/social">
            </a>

            <div class="media-body">
                <h6 style="" class="media-heading">
                    John Anderson
                </h6>
                    <small>Sigma Chi Mu</small>
                <a href="#" class="btn btn-center btn-info btn-mini pull-right">Vote! <i class="icon-arrow-right icon-white"></i></a>
            </div>
    </li>

</ul>

