{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block user_panel %}{% endblock user_panel %}

{% block content %}
<div class="container">
  <div class="row">

    <div class="span4 offset4">
    <div class="well centered" style="margin:100px 0; text-align: center;">
    <hr>
    <h1>OneGreek.org</h1>
    <hr>

      {% if socialaccount.providers  %}
      <div class="socialaccount_ballot">

     
        <ul class="nav nav-pills nav-stacked">
          <li class="active">
            <a class="" href="{% provider_login_url "facebook" method="js_sdk" next="/users/~register/" %}">Sign up</a>
          </li>
          <li>
          <a class="" href="{% provider_login_url "facebook" method="js_sdk" next="/users/~redirect/" %}"><small class="muted">or</small> Sign in</a>
        </li>
      </ul>
      
      </div>


      {% endif %}

   {% if debug %}
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="hidden" name="next" value="{% url "users:redirect" %}" />
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
      </form>

        <a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
    {% endif %}


    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    {% if socialaccount.providers  %}
        {% providers_media_js %}
    {% endif %}
{% endblock javascript %}
