/*! project specific CSS goes here. */

.page-wrapper {
    min-height: 600px;
}

.centered {
    display: table;
    margin-right: auto;
    margin-left: auto;
}
.center-text {
    text-align: center;
}
.modal.full-screen-modal .top-bar {
    width: 970px;
    padding: 0;
}

.modal.full-screen-modal {
    width: 970px;
    margin-left: -485px;
}
.modal.full-screen-modal .modal-body {
    overflow: hidden;
    min-height: 400px;
}

.time-picker-widget {
    padding-left: 60px;
    float: left;
}
.left-align {
    text-align: left;
}
.user-detail {
    float: left;
    width: 85%;
}
.user-detail li {
    line-height: 40px;
    float: right;
    margin-right: 20px;
}
.user-detail li:first-child {
    margin-left: 10px;
    float: left;
}
.user-detail li:first-child {
    margin-left: 0;
}
.user-detail .thumbnail {
    width: auto;
    max-height: 40px;
}
.user-detail2 .thumbnail {
    width: auto;
    max-height: 60px;
}

.toggle-view {
    position: absolute;
    top: 10px;
    right: 10px;
}

.pending-active-select {
    margin-top: 12px;
    float: left;
}

.active_pending {
    background-color: #d3d3d3;
    color: #3e3e3e;
}

.user-edit-menu {
    float: left;
    padding: 10px 5px 2px;
}
.user-edit-menu .btn-link:hover {
    text-decoration: none;
}
.page-wrapper {
    padding: 0 40px;
    background-color: #fff;
}
.top-bar {
    background: linear-gradient(to right, #c41e3a, #000080);
    height: 30px;
    width: 100%;
    padding: 0 40px;
}
.left-column {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    float: left;
    padding: 20px 0;
}

.event-carousel {
    padding-bottom: 50px;
}

.event-carousel .carousel-indicators {
        top: 0;
        right: 10px;
    }
 .event-carousel .carousel-indicators li {
        background-color: rgba(0, 0, 0, 0.25);
    }
 .event-carousel .carousel-inner {
        min-height: 160px;
    }
 .event-carousel .carousel-inner>.item {
        padding-top: 20px;
    }
.event-carousel .carousel-control {
        top: 120%;
        width: 20px;
        height: 20px;
        font-size: 30px;
        line-height: 15px;

    }

.chapter-carousel .carousel-indicators {
    top: 0;
    right: 10px;
    display: none;
}
.chapter-carousel .carousel-indicators li {
    background-color: rgba(0, 0, 0, 0.25);
}
.chapter-carousel .carousel-inner {
}
.chapter-carousel .carousel-inner>.item {
}
.chapter-carousel .carousel-control {
    top: 50%;
    border-radius: 25px;
    width: 20px;
    height: 30px;
    font-size: 30px;
    line-height: 25px;
    border: none;
}
.chapter-carousel .carousel-control.left {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    left: -15px;
    box-shadow: 5px 0 5px rgba(0, 0, 0, .5);

}
.chapter-carousel .carousel-control.right {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    right: -15px;
    box-shadow: -5px 0 5px rgba(0, 0, 0, .5);

}


.chapter-list {
        min-height: 250px;
    }

.avatar-select, .avatar-select ul {
    list-style: none;
}
.avatar-select>li:first-of-type>label {
    display: none;
}

body {
    padding-bottom: 100px;
}
.rush-carousel .events-list {
    line-height: 20px;
}
.rush-carousel .events-list li {
    min-width: 35px;
    margin-bottom: 5px;
}

.rush-carousel .events-list span {
    font-weight: bolder;
}

.dl-horizontal.profile-list dd {
    margin-left: 100px;
}
.dl-horizontal.profile-list dt {
    width: 80px;
}

.rush-carousel .rush-form-list .answer {
    font-size: 16px;
    font-weight: lighter;
    line-height: 20px;
}
.rush-carousel .rush-form-list .question {
    font-weight: bolder;
    font-size: 17px;
    margin-right: 5px;
    line-height: 22px;
}

.rush-carousel .divider {
    display: inline-block;
    width: 100%;
    clear: both;
    border-bottom: 1px solid #e7e7e7;
}

.rush-carousel .carousel {
    margin-bottom: 0;
}
.rush-carousel .carousel .carousel-indicators {
    display: none;
}

.members-tabs .badge {
    margin-left: 10px;

}
.profile-avatar li{

}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.animate-if {
  background:white;
  border:1px solid black;
  padding:10px;
}

.animate-if.ng-enter, .animate-if.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}