{% extends 'base.html' %}
{% load staticfiles comments crispy_forms_tags %}
{% block title %}Home{% endblock %}
{% comment %}For getting request data into angular app{% endcomment %}
{% block extra_body_tag_data %}
  ng-controller="ChapterGlobalCtrl"
  ng-init="initialize(
  '{{ user.is_authenticated }}',
  '{{ user.id }}',
  '{{ user.chapter_id }}',
  '{% if chapter %}{{ chapter.id }}{% endif %}',
  '{{ request.get_host }}'
  )"
{% endblock extra_body_tag_data %}

{% block content %}
  <div class="span7 offset1">
  <div class="centered">

    <img class="" src="{% static 'img/logos/800x600logo.jpg' %}">

  </div>
  </div>
{% endblock content %}

{% block left_content %}
  {% include 'includes/left_content.html' %}
{% endblock left_content %}



{% block angular_app_name %}chapterApp{% endblock angular_app_name %}


{% block angular_modules %}
  <script src="{% static 'angularjs/app/lib/angular/angular-cookies.js' %}"></script>
  <script src="{% static 'angularjs/app/lib/angular/angular-resource.js' %}"></script>
  <script src="{% static 'angularjs/app/lib/angular/angular-route.js' %}"></script>
  <script src="{% static 'angularjs/app/lib/angular/angular-animate.js' %}"></script>
{% endblock angular_modules %}
{% block angular_app %}
  <script src="{% static 'chapters/app/js/app.js' %}"></script>
  <script src="{% static 'chapters/app/js/controllers.js' %}"></script>
  <script src="{% static 'chapters/app/js/left-content-controllers.js' %}"></script>
  <script src="{% static 'chapters/app/js/services.js' %}"></script>
  <script src="{% static 'chapters/app/js/directives.js' %}"></script>
  <script src="{% static 'chapters/app/js/filters.js' %}"></script>


{% endblock angular_app %}
