{% extends 'chapters/chapter_list.html' %}
{% load crispy_forms_tags staticfiles comments crispy_forms_tags %}


{% block content %}

    <div ng-controller="ChapterDetailCtrl">
    <div class="span9">

      {% if request.user.is_chapter_admin and request.user.chapter_id == chapter.id %}
        <div class="dropdown pull-right">
        <a class="dropdown-toggle btn btn-link btn-mini">
          <i class="fa fa-cog fa-lg"></i>
          <span class="caret"></span>
        </a>

        <ul class="dropdown-menu">
          <li><a href="{% url 'chapters:update' request.user.chapter_id %}">Edit Chapter Info</a></li>
          <li><a href="{% url 'users:list' %}">Manage Members</a></li>
          <li><a href="{% url 'imagestore:upload'  %}{[{ chapter.ctype_id }]}/{[{ chapter.id }]}/">Add Images</a></li>
        </ul>
        </div>

      {% endif %}
        <h1 ng-show="globals.ogLoading.chapter" class="page-header" ng-cloak>
            {[{ chapter.fraternity_title }]}
            <br/>
            <small>
                {[{ chapter.title }]} - {[{ chapter.university_title }]}
            </small>
        </h1>

        <div class="row">

            <div class="span5">
                <div class="chapter-carousel">
                <carousel>
                    <slide ng-repeat="image in images">
                        <img class="image-responsive" ng-src="{[{ image.lg_img_url }]}">
                    </slide>
                </carousel>
                </div>

                <dl ng-show="globals.ogLoading.chapter">
                    <dt>
                        Description:
                    </dt>
                    <dd>
                        <p>{[{ chapter.description }]}</p>
                        <br/>
                        <br/>
                    </dd>
                    <dt>
                        Awards:
                    </dt>
                    <dd>
                        <p>{[{ chapter.awards }]}</p>
                        <br/>
                        <br/>
                    </dd>
                    <dt>
                        Philanthropy:
                    </dt>
                    <dd>
                        <p>{[{ chapter.philanthropy }]}</p>
                        <br/>
                        <br/>
                    </dd>
                    <dt>
                        Note to Potential New Members:
                    </dt>
                    <dd>
                        <p>{[{ chapter.potential_new_members }]}</p>
                        <br/>
                        <br/>
                    </dd>
                </dl>

            </div>
            <div class="span4">
               {% if not request.user.chapter_id %}
                 <div ng-show="globals.ogLoading.rush">

                <div ng-hide="chapter.rush.hide" style="display: table; margin-left: auto; margin-right: auto; margin-bottom: 30px;">
                    <a ng-disabled="chapter.rush.disabled" ng-click="openModal()" class="btn btn-primary btn-large" > {[{ chapter.rush.title }]} </a>
                </div>
                <p ng-hide="chapter.rush.message.hide">{[{ chapter.rush.message.text }]}</p>

                    {{ chapter.rush_form.content }}

                 </div>
                {% endif %}

                {% if chapter.fb_status %}
                <h5>Status:</h5>
                <div class="well" style="text-align: center;">
                    <p>{[{ chapter.fb_status }]}</p>
                </div>
                {% endif %}

                <tabset ng-cloak>
                    <tab ng-show="globals.ogLoading.users" heading="Members">
                        <tab-content>
                        <div class="user-detail media" ng-repeat="user in users">
                            <a href="{[{ user.fb_extra_data.link }]}" target="_blank" class="pull-left" title="{[{ user.first_name }]} on Facebook">
                                <img class="media-object thumbnail" ng-src="{[{ user.profile_image_url }]}">
                            </a>

                            <div class="media-body">
                                <h4 class="media-heading">
                                    {[{ user.first_name }]}
                                    {[{ user.last_name }]}
                                </h4>
                                {[{ user.position }]}
                            </div>
                        </div>
                        </tab-content>
                    </tab>
                {% comment %}
                    <tab ng-show="globals.ogLoading.comments" heading="Comments">
                        <tab-content>
                            <div ng-repeat="comment in comments" class="media">

                                <a class="pull-left" href="#">
                                    <img class="media-object" ng-src="{[{ comment.profile_image_url }]}">
                                </a>

                                <div class="media-body">
                                    <p class="media-heading">
                                        {[{ comment.name }]} - {[{ comment.submit_date|date }]}
                                    </p>
                                    <p>{[{ comment.comment }]}</p>
                                </div>
                            </div>

                            {% if perms.rest_comments.add_restcomment %}
                                {% get_comment_form for chapter as comment_form %}
                                {% crispy comment_form %}
                                <a class="btn btn-small btn-primary" ng-click="commentSubmit()">Submit</a>
                            {% endif %}
                        </tab-content>
                    </tab>
                    {% endcomment %}
                    <tab ng-show="globals.ogLoading.chapter" heading="Info">
                        <tab-content>
                            <dl>
                                <dt>
                                    Average GPA
                                </dt>
                                <dd>
                                    <p>{[{ chapter.average_gpa.gpa__avg }]}</p>
                                </dd>
                                <dt>
                                    Semester Cost
                                </dt>
                                <dd>
                                    <p>{[{ chapter.cost }]}</p>
                                </dd>
                              <dt>
                                Chapter Website
                              </dt>
                              <dd>
                                <p>{[{ chapter.chapter_website }]}</p>
                              </dd>
                              <dt>
                                Founding Year
                              </dt>
                              <dd>
                                <p>{[{ chapter.founding_year }]}</p>
                              </dd>
                              <dt>
                                Members
                              </dt>
                              <dd>
                                <p>{[{ chapter.active_count }]}</p>
                              </dd>
                              <dt>
                                House Address
                              </dt>
                              <dd>
                                <p>{[{ chapter.chapter_address }]}</p>
                              </dd>
                            </dl>
                        </tab-content>
                    </tab>
                </tabset>

            </div>
        </div>
    </div>
    </div>

  <script type="text/ng-template" id="RushFormModal.html">

    <div class="modal-header">
        <h3 ng-model="event.title">Rush {{ chapter.fraternity_title }}</h3>
    </div>
    <div class="modal-body">
    {% if chapter.has_admin %}
      <div class="form form-horizontal">
                        {% csrf_token %}
                        {% for field in rush_form %}
                        <div class="control-group">
                        {{ field.errors }}
                        <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
                        <div class="controls">
                        {{ field }}
                        </div>
                        </div>
                        {% endfor %}
        </div>
    {% else %}
    <p class="center-text">
    {{ chapter.fraternity_title }} has not yet registered with onegreek.
    <br>
    <small>
    Are you the {{ chapter.fraternity_title }} President, then <a href="#">register {{ chapter.fraternity_title }}.</a>
    </small>
    </p>
    {% endif %}
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">{{ chapter.rush_form.button_text }}</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>

    </script>



{% endblock content %}

