{% extends 'base.html' %}
{% load crispy_forms_tags staticfiles %}
{% block extra_body_tag_data %}
    ng-controller="EventGlobalCtrl"
    ng-init="initialize(
    '{{ user.is_authenticated }}',
    '{{ user.id }}',
    '{{ request.get_host }}'
    )"
{% endblock extra_body_tag_data %}
{% block left_content %}{% endblock left_content %}

{% block content %}

<div>
    {% if request.user.is_chapter_admin %}
        <script type="text/ng-template" id="newEventModal.html">

            <div class="modal-header">
                <h3 ng-model="event.title">Register New Event</h3>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                {% crispy event_form %}
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>

            </script>

    {% endif %}

    <div class="row">
        <div class="span3">
            <form class="form-search">
                <div class="controls">
                    <input type="text" id="event-filter" name="event-filter" class="search-query input-medium"
                           placeholder="Search" ng-model="eventFilter"
                           typeahead="event.title for event in globals.events | filter:$viewValue | limitTo:8"/>
                </div>
            </form>
            <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="event in globals.events | filter:eventFilter | orderBy:'start'">
                    <a href="#/events/{[{ event.id }]}">
                        {[{ event.title }]}
                        <br/>
                        <small>
                            {[{ event.start | date }]} -
                            {[{ event.end | date }]}
                        </small>
                    </a>
                </li>
            </ul>


        </div>


        <div ng-view></div>

        <script type="text/ng-template" id="list.html">
        <a class="btn btn-info pull-right toggle-view" href="#/events/calendar">Calender View</a>

            {% if request.user.is_chapter_admin %}
        <button class="btn btn-primary btn-large pull-right" ng-click="openModal()">Create Event</button>
        {% endif %}

        <div class="span9">
         <tabset>
            <tab
            ng-repeat="tab in tabs"
            ng-hide="tab.hidden"
            heading="{[{tab.title}]}"
            active="tab.active"
            disabled="tab.disabled"
            select="filterForGroup(tab.status)"
            >
              {[{tab.content}]}
            </tab>
         </tabset>



            <ul class="unstyled">
                <li ng-repeat="event in events | filter:eventFilter | orderBy:'start'">
                    <h2>
                        <a href="#/events/{[{ event.id }]}">
                            {[{ event.title }]}
                            <small>
                                {[{ event.start | date }]} -
                                {[{ event.end | date }]}
                            </small>
                        </a>
                    </h2>
                    <p>{[{ event.description }]}
                </li>
            </ul>
        </div>

    </script>

        <script type="text/ng-template" id="detail.html">
        <a class="btn btn-info pull-right toggle-view" href="#/events/calendar">Calender View</a>

            {% if request.user.is_chapter_admin %}
        <button class="btn btn-primary btn-large pull-right" ng-click="openModal()">Edit Event</button>
        {% endif %}


            <h1 ng-model="event">
                <span>
                {[{ event.title }]}
                </span>
                <small>
                <span>
                            {[{ event.start | date }]}
                </span>
                -
                <span>
                            {[{ event.end | date }]}
                </span>
                </small>
            </h1>
        <div class="span5">
            <h4>
            Event Type:
            <span class="{[{ event.text_color_class }]}">{[{ event.status }]}</span>
            </h4>
            <h4>Description: </h4>
            <p>
                {[{ event.description }]}
            </p>

            {% if request.user.is_chapter_admin %}
            <a class="btn btn-danger" ng-click="getAttendees()">View Guest List</a>
            <a ng-click="submit()" ng-hide="event.owner.id == globals.user_id">Submit</a>
            <div ng-show="event.guest_list.display">

            RSVPS:

            <ul ng-repeat="user in event.guest_list.rsvps">
                <li>{[{ user.id }]} <a ng-click="postAttend(user)">Attended?</a></li>
            </ul>

            ATTENDEES:

            <ul ng-repeat="user in event.guest_list.attendees">
                <li>{[{ user.id }]}</li>
            </ul>

            </div>
            {% endif %}
            </div>
            <div class="span4">

            <div class="alert alert-info">
            You are currently <span>{[{ event.rsvp.display }]}</span> this event
            </div>
            <a class="btn btn-info" ng-click="postRsvp()" ng-hide="event.rsvp.rsvp">RSVP</a>
            <a class="btn btn-info" ng-click="postRsvp()" ng-show="event.rsvp.rsvp">Cancel RSVP</a>

          </div>

</script>


    </div>




{% endblock content %}

{% block angular_app_name %}eventsApp{% endblock angular_app_name %}

{% block angular_modules %}
    <script src="{% static 'angularjs/app/lib/angular/angular-cookies.js' %}"></script>
    <script src="{% static 'angularjs/app/lib/angular/angular-resource.js' %}"></script>
    <script src="{% static 'angularjs/app/lib/angular/angular-route.js' %}"></script>
    <script src="{% static 'angularjs/app/lib/angular/angular-animate.js' %}"></script>
{% endblock angular_modules %}
{% block angular_app %}
    <script src="{% static 'events/app/js/app.js' %}"></script>
    <script src="{% static 'events/app/js/controllers.js' %}"></script>
    <script src="{% static 'events/app/js/services.js' %}"></script>
    <script src="{% static 'events/app/js/directives.js' %}"></script>
    <script src="{% static 'events/app/js/filters.js' %}"></script>
{% endblock angular_app %}
