{% extends 'base.html' %}
{% load crispy_forms_tags staticfiles %}
{% block extra_body_tag_data %}
    ng-controller="EventGlobalCtrl"
    ng-init="initialize(
    '{{ user.is_authenticated }}',
    '{{ user.id }}',
    '{{ request.get_host }}'
    )"
{% endblock extra_body_tag_data %}
{% block left_content %}
  {% include 'includes/left_content.html' %}
{% endblock left_content %}

{% block content %}

    {% if request.user.is_chapter_admin %}
        <script type="text/ng-template" id="newEventModal.html">

            <div class="modal-header">
                <h3 ng-model="event.title">Register New Event</h3>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                {% crispy event_form %}
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">Save</button>
                <button class="btn btn-primary" ng-click="addImages()">Add Images</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>

            </script>

    {% endif %}



    <div class="span9">
    <div class="row">
        <div ng-view></div>
    </div>
    </div>

        <script type="text/ng-template" id="list.html">

            {% if request.user.is_chapter_admin %}
        <a href='{% url "events:create" %}' class="btn btn-link pull-right">Create Event</a>
        {% endif %}

        <div class="span9">



        <tabset>
                            <tab
                              ng-repeat="tab in tabs"
                              ng-hide="tab.hidden"
                              heading="{[{tab.title}]}"
                              active="tab.active"
                              disabled="tab.disabled"
                              select="renderCalendar(tab.calendar);">
                              <tab-content>


                              <div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
                                <h4>{[{ alertMessage }]}</h4>
                              </div>
                            <div class="calendar" ng-model="eventSources" calendar="tab.calendar" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
                            </tab-content>
                           </tab>

        </tabset>




        </div>

    </script>

        <script type="text/ng-template" id="detail.html">
        <div class="span3">

                <div class="chapter-carousel">
                <carousel>
                    <slide ng-repeat="image in event.images">
                        <img class="image-responsive" src="{[{ image.md_img_url }]}">
                    </slide>
                </carousel>
                </div>
        </div>
        <div class="span3">

            <h4>
                <span class="{[{ event.text_color_class }]}">
                {[{ event.title }]}
                </span>
                <br/>
                <small>
                <span>
                            {[{ event.start | date }]}
                </span>
                -
                <span>
                            {[{ event.end | date }]}
                </span>
                </small>
            </h4>


            {% if request.user.is_chapter_admin %}
            <ul class="nav nav-pills">
                <li class="dropdown">
                    <a class="dropdown-toggle">Admin <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                    <li>
                    <a ng-click="openModal()">Edit Event</a>
                    </li>
                    <li>
                    <a href="{% url 'imagestore:upload'  %}{[{ event.ctype_id }]}/{[{ event.id }]}/">Add Images</a>
                    </li>
                    <li>
                    <a ng-click="getAttendees()">Refresh Guest List</a>
                    </li>
                    </ul>
                </li>
              </ul>
            {% endif %}
            <ul class="inline">
                <li ng-show="event.rsvp.rsvp">
                    I'm currently: <a class="btn btn-primary" ng-click="postRsvp()">{[{ event.rsvp.display }]}</a>
                </li>
                <li ng-hide="event.rsvp.rsvp">
                   I'm currently: <a class="btn btn-primary" ng-click="postRsvp()">{[{ event.rsvp.display }]}</a>
                </li>
            </ul>


        </div>
        <div class="span3">

            <p>
                {[{ event.description }]}
            </p>


        </div>
        <div class="span9">
            {% if request.user.is_chapter_admin %}
            <div ng-show="event.guest_list.display" class="row">

            <div class="span4">
                <h4>RSVPS</h4>

                <form class="form-search">
                    <div class="controls">
                        <input type="text" id="rsvp-filter" name="rsvp-filter" class="search-query input-block-level"
                               ng-model="rsvpFilter"
                               placeholder="Search"
                               typeahead="user in event.guest_list.rsvps | filter:$viewValue"
                               >
                    </div>
                </form>
            <p>Click name to check in</p>

                <ul class="nav nav-stacked nav-tabs">
                    <li ng-repeat="user in event.guest_list.rsvps | filter:rsvpFilter">
                        <a ng-click="postAttend(user)" class="user-detail"
                        style="width: 90%;">
                           <ul class="inline">
                               <li>
                                        <img class="pull-left thumbnail" ng-src="{[{ user.profile_image_url }]}">
                               </li>
                               <li>
                                        {[{ user.first_name }]}
                                        {[{ user.last_name }]}
                               </li>
                               <li>
                                        {[{ user.status }]}
                               </li>
                           </ul>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="span4">
                <h4>Attendees</h4>

                <form class="form-search">
                    <div class="controls">
                        <input type="text" id="attendee-filter" name="attendee-filter" class="search-query input-block-level"
                               ng-model="attendeeFilter"
                               placeholder="Search"
                               typeahead="user in event.guest_list.attendees | filter:$viewValue"
                               >
                    </div>
                </form>

                <ul class="nav nav-stacked nav-tabs">
                    <li ng-repeat="user in event.guest_list.attendees | filter:attendeeFilter">
                        <a ng-click="postAttend(user)" class="user-detail"
                        style="width: 90%;">
                           <ul class="inline">
                               <li>
                                        <img class="pull-left thumbnail" ng-src="{[{ user.profile_image_url }]}">
                               </li>
                               <li>
                                        {[{ user.first_name }]}
                                        {[{ user.last_name }]}
                               </li>
                               <li>
                                        {[{ user.status }]}
                               </li>
                           </ul>
                        </a>
                    </li>
                </ul>

            </div>
        {% else %}

        <h4>Other's who are attending</h4>
        <hr>

            <div class="pull-left" ng-repeat="user in event.guest_list.all">
            <img class="thumbnail" ng-src="{[{ user.profile_image_url }]}">
            </div>

        <div class="clearfix"></div>
        <hr>

            {% endif %}
        </div>

</script>






{% endblock content %}

{% block jquery %}
  <script type="text/javascript" src="{% static 'ui-calendar-master/bower_components/jquery/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'ui-calendar-master/bower_components/jquery-ui/ui/jquery-ui.js' %}"></script>
{% endblock jquery %}

{% block css %}
 <link rel="stylesheet" href="{% static 'ui-calendar-master/bower_components/fullcalendar/fullcalendar.css' %}">
  {{ block.super }}
{% endblock css %}

{% block angular_app_name %}eventsApp{% endblock angular_app_name %}

{% block angular_core %}
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
{% endblock angular_core %}

{% block angular_ext %}
  <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
  <script type="text/javascript" src="{% static 'ui-calendar-master/bower_components/fullcalendar/fullcalendar.js' %}"></script>
  <script type="text/javascript" src="{% static 'ui-calendar-master/bower_components/fullcalendar/gcal.js' %}"></script>
  <script type="text/javascript" src="{% static 'ui-calendar-master/src/calendar.js' %}"></script>
{% endblock angular_ext %}

{% block angular_modules %}

  <script src="{% static 'angularjs/app/lib/angular/angular-cookies.js' %}"></script>
  <script src="{% static 'angularjs/app/lib/angular/angular-resource.js' %}"></script>
  <script src="{% static 'angularjs/app/lib/angular/angular-route.js' %}"></script>
  <script src="{% static 'angularjs/app/lib/angular/angular-animate.js' %}"></script>


{% endblock angular_modules %}
{% block angular_app %}
    <script src="{% static 'events/app/js/calendar-app.js' %}"></script>
    <script src="{% static 'events/app/js/calendar-controllers.js' %}"></script>
    <script src="{% static 'chapters/app/js/left-content-controllers.js' %}"></script>
    <script src="{% static 'events/app/js/services.js' %}"></script>
    <script src="{% static 'events/app/js/directives.js' %}"></script>
    <script src="{% static 'events/app/js/filters.js' %}"></script>
{% endblock angular_app %}
