{% extends 'base.html' %}
{% load crispy_forms_tags staticfiles %}
{% block left_content %}{% endblock left_content %}

{% block content %}
    <div ng-controller="AppController">

    <div ng-controller="MyFormCtrl">
        <button class="btn btn-primary btn-large pull-right" ng-click="openModal()">Create Event</button>
        <script type="text/ng-template" id="newEventModal.html">

            <div class="modal-header">
                <h3 ng-model="event.title">Register New Event</h3>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                {% crispy event_form %}
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>

            </script>

    </div>

    <div class="row">
        <div class="span3">
            <form class="form-search">
                <div class="controls">
                    <input type="text" id="event-filter" name="event-filter" class="search-query input-medium"
                           placeholder="Search" ng-model="eventFilter"
                           typeahead="event.title for event in globals.events | filter:$viewValue | limitTo:8"/>
                </div>
            </form>
            <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="event in globals.events | filter:eventFilter | orderBy:'start'">
                    <a href="#/events/{[{ event.id }]}">
                        {[{ event.title }]}
                        <br/>
                        <small>
                            {[{ event.start | date }]} -
                            {[{ event.end | date }]}
                        </small>
                    </a>
                </li>
            </ul>


        </div>


        <div ng-view></div>

        <script type="text/ng-template" id="list.html">


        <div class="span9">
            <ul class="unstyled">
                <li ng-repeat="event in events | filter:eventFilter | orderBy:'start'">
                    <h2>
                        <a href="#/events/{[{ event.id }]}">
                            {[{ event.title }]}
                            <small>
                                {[{ event.start | date }]} -
                                {[{ event.end | date }]}
                            </small>
                        </a>
                    </h2>
                    <p>{[{ event.description }]}
                </li>
            </ul>
        </div>

    </script>

        <script type="text/ng-template" id="detail.html">
<h1>
    <span>
    {[{ event.title }]}
    </span>
    <small>
    <span>
                {[{ event.start | date }]}
    </span>
    -
    <span>
                {[{ event.end | date }]}
    </span>
    </small>
</h1>

<p>
    {[{ event.description }]}
</p>

</script>


    </div>




{% endblock content %}

{% block angular_app_name %}eventsApp{% endblock angular_app_name %}

{% block angular_modules %}
    <script src="{% static 'angularjs/app/lib/angular/angular-cookies.js' %}"></script>
    <script src="{% static 'angularjs/app/lib/angular/angular-resource.js' %}"></script>
    <script src="{% static 'angularjs/app/lib/angular/angular-route.js' %}"></script>
    <script src="{% static 'angularjs/app/lib/angular/angular-animate.js' %}"></script>
{% endblock angular_modules %}
{% block angular_app %}
    <script src="{% static 'events/app/js/app.js' %}"></script>
    <script src="{% static 'events/app/js/controllers.js' %}"></script>
    <script src="{% static 'events/app/js/services.js' %}"></script>
    <script src="{% static 'events/app/js/directives.js' %}"></script>
    <script src="{% static 'events/app/js/filters.js' %}"></script>
{% endblock angular_app %}
