{% extends 'base.html' %}
{% load crispy_forms_tags staticfiles %}
{% block extra_body_tag_data %}
    ng-controller="EventGlobalCtrl"
    ng-init="initialize(
    '{{ user.is_authenticated }}',
    '{{ user.id }}',
    '{{ request.get_host }}'
    )"
{% endblock extra_body_tag_data %}
{% block left_content %}

    <div class="span3">
        <form class="form-search">
            <div class="controls">
                <input type="text" id="event-filter" name="event-filter" class="search-query input-medium"
                       placeholder="Search" ng-model="eventFilter"
                       typeahead="event.title for event in globals.events | filter:$viewValue | limitTo:8"/>
            </div>
        </form>
        <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="event in globals.events | filter:eventFilter | orderBy:'start'">
                <a href="#/events/{[{ event.id }]}">
                    {[{ event.title }]}
                    <br/>
                    <small>
                        {[{ event.start | date }]} -
                        {[{ event.end | date }]}
                    </small>
                </a>
            </li>
        </ul>


    </div>

{% endblock left_content %}

{% block content %}

    {% if request.user.is_chapter_admin %}
        <script type="text/ng-template" id="newEventModal.html">

            <div class="modal-header">
                <h3 ng-model="event.title">Register New Event</h3>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                {% crispy event_form %}
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>

            </script>

    {% endif %}



    <div class="span9">
    <div class="row">
        <div ng-view></div>
    </div>
    </div>

        <script type="text/ng-template" id="list.html">
        <a class="btn btn-info pull-right toggle-view" href="#/events/calendar">Calender</a>

            {% if request.user.is_chapter_admin %}
        <button class="btn btn-primary btn-large pull-right" ng-click="openModal()">Create Event</button>
        {% endif %}

        <div class="span9">
         <tabset>
            <tab
            ng-repeat="tab in tabs"
            ng-hide="tab.hidden"
            heading="{[{tab.title}]}"
            active="tab.active"
            disabled="tab.disabled"
            select="filterForGroup(tab.status)"
            >
              {[{tab.content}]}
            </tab>
         </tabset>



            <ul class="unstyled">
                <li ng-repeat="event in events | filter:eventFilter | orderBy:'start'">
                    <h2>
                        <a href="#/events/{[{ event.id }]}">
                <span class="{[{ event.text_color_class }]}">
                            {[{ event.title }]}
                </span>
                        </a>
                            <small>
                                {[{ event.start | date }]} -
                                {[{ event.end | date }]}
                            </small>
                    </h2>
                    <p>{[{ event.description }]}
                </li>
            </ul>
        </div>

    </script>

        <script type="text/ng-template" id="detail.html">
        <div class="span3">

                <div class="chapter-carousel">
                <carousel>
                    <slide ng-repeat="image in event.images">
                        <img class="image-responsive" src="{[{ image.md_img_url }]}">
                    </slide>
                </carousel>
                </div>
        </div>
        <div class="span3">

            <h4>
                <span class="{[{ event.text_color_class }]}">
                {[{ event.title }]}
                </span>
                <br/>
                <small>
                {[{ event.status }]}
                <span>
                            {[{ event.start | date }]}
                </span>
                -
                <span>
                            {[{ event.end | date }]}
                </span>
                </small>
            </h4>



            <ul class="nav nav-pills">
            {% if request.user.is_chapter_admin %}
                <li class="dropdown">
                    <a class="dropdown-toggle">Admin <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                    <li>
                    <a ng-click="openModal()">Edit Event</a>
                    </li>
                    <li>
                    <a href="{% url 'imagestore:upload'  %}{[{ event.ctype_id }]}/{[{ event.id }]}/">Add Images</a>
                    </li>
                    <li>
                    <a ng-click="getAttendees()">Refresh Guest List</a>
                    </li>
                    </ul>
                </li>
            {% endif %}
                <li>
                    <a class="" ng-click="postRsvp()" ng-show="event.rsvp.rsvp">I'm {[{ event.rsvp.display }]}</a>
                </li>
                <li>
                    <a class="" ng-click="postRsvp()" ng-hide="event.rsvp.rsvp">I'm {[{ event.rsvp.display }]}</a>
                </li>
            </ul>



        </div>
        <div class="span3">

            <p>
                {[{ event.description }]}
            </p>


        </div>
        <div class="span9">
            {% if request.user.is_chapter_admin %}
            <div ng-show="event.guest_list.display" class="row">

            <div class="span4">
                <h4>RSVPS</h4>

                <form class="form-search">
                    <div class="controls">
                        <input type="text" id="rsvp-filter" name="rsvp-filter" class="search-query input-block-level"
                               ng-model="rsvpFilter"
                               placeholder="Search"
                               typeahead="user in event.guest_list.rsvps | filter:$viewValue"
                               >
                    </div>
                </form>

                <ul class="nav nav-stacked nav-tabs">
                    <li ng-repeat="user in event.guest_list.rsvps | filter:rsvpFilter">
                        <a ng-click="postAttend(user)" class="user-detail"
                        style="width: 90%;">
                           <ul class="inline">
                               <li>
                                        <img class="pull-left thumbnail" ng-src="{[{ user.profile_image_url }]}">
                               </li>
                               <li>
                                        {[{ user.first_name }]}
                                        {[{ user.last_name }]}
                               </li>
                               <li>
                                        {[{ user.status }]}
                               </li>
                           </ul>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="span4">
                <h4>Attendees</h4>

                <form class="form-search">
                    <div class="controls">
                        <input type="text" id="attendee-filter" name="attendee-filter" class="search-query input-block-level"
                               ng-model="attendeeFilter"
                               placeholder="Search"
                               typeahead="user in event.guest_list.attendees | filter:$viewValue"
                               >
                    </div>
                </form>

                <ul class="nav nav-stacked nav-tabs">
                    <li ng-repeat="user in event.guest_list.attendees | filter:attendeeFilter">
                        <a ng-click="postAttend(user)" class="user-detail"
                        style="width: 90%;">
                           <ul class="inline">
                               <li>
                                        <img class="pull-left thumbnail" ng-src="{[{ user.profile_image_url }]}">
                               </li>
                               <li>
                                        {[{ user.first_name }]}
                                        {[{ user.last_name }]}
                               </li>
                               <li>
                                        {[{ user.status }]}
                               </li>
                           </ul>
                        </a>
                    </li>
                </ul>

            </div>
        {% else %}

        <h4>Other's who are attending</h4>
        <hr>

            <div class="pull-left" ng-repeat="user in event.guest_list.rsvps | filter:rsvpFilter">
            <img class="thumbnail" ng-src="{[{ user.profile_image_url }]}">
            </div>

        <div class="clearfix"></div>
        <hr>

            {% endif %}
        <a class="" href="#/events"><< Back</a>
        </div>

</script>






{% endblock content %}

{% block angular_app_name %}eventsApp{% endblock angular_app_name %}

{% block angular_modules %}
    <script src="{% static 'angularjs/app/lib/angular/angular-cookies.js' %}"></script>
    <script src="{% static 'angularjs/app/lib/angular/angular-resource.js' %}"></script>
    <script src="{% static 'angularjs/app/lib/angular/angular-route.js' %}"></script>
    <script src="{% static 'angularjs/app/lib/angular/angular-animate.js' %}"></script>
{% endblock angular_modules %}
{% block angular_app %}
    <script src="{% static 'events/app/js/app.js' %}"></script>
    <script src="{% static 'events/app/js/controllers.js' %}"></script>
    <script src="{% static 'events/app/js/services.js' %}"></script>
    <script src="{% static 'events/app/js/directives.js' %}"></script>
    <script src="{% static 'events/app/js/filters.js' %}"></script>
{% endblock angular_app %}
