{% extends "base.html" %}
{% load crispy_forms_tags staticfiles %}

{% block title %}User: {{ user.username }}{% endblock %}
{% block content %}

  <div class="span9" ng-controller="UserFormCtrl">
    <div class="col-lg-12">
      <h1>{% block header %}Edit Profile{% endblock %}</h1>
      <form class="form-horizontal" method="post">
        {% csrf_token %}
        {% crispy form %}
        <div class="form-actions">
          <input type="submit" value="Submit" name="submit">
        </div>
      </form>
    </div>
  </div>
{% endblock %}
