{% extends "base.html" %}
{% load avatar_tags crispy_forms_tags i18n %}
{% load staticfiles %}
{% block extra_body_tag_data %} ng-controller="UserGlobalCtrl"
  ng-init="initialize(
  '{{ user.is_authenticated }}', '{{ user.id }}', '{{ user.chapter_id }}', '{{ user.chapter.get_rush_form.id }}', '{{ request.get_host }}'
  )"{% endblock extra_body_tag_data %}

{% block title %}{{ object.get_full_name }}{% endblock %}

{% block header_content %}
    <hr>
    <div class="row">
        <div class="span2">
          <img class="thumbnail" src="{{ user.profile_image_url }}">
        </div>
        <div class="span10">
            <h2>
                {{ object.get_full_name }}
                <small>{{ object.get_status_display }}</small>
            </h2>
            <h4>
                {% if object.status != 'rush' and object.chapter_id %}
                <a href="{% url 'chapters:detail' object.chapter_id %}">
                    {{ object.chapter.fraternity.title }}
                    <small>
                        {{ object.chapter.title }} chapter - {{ object.university.title }}
                    </small>
                  </a>
                {% endif %}
            </h4>
        </div>
    </div>
    <hr>
{% endblock header_content %}

{% block messages %}
{{ block.super }}
        <!-- Action buttons -->

        <div class="row">
            <div class="span12">
      <div ng-controller="AlertCtrl">
        <alert ng-repeat="alert in globals.alerts" type="alert.type" close="globals.closeAlert($index)">{[{ alert.msg }]}</alert>
      </div>
            </div>
        </div>
{% endblock messages %}

{% block content %}


        <div class="row">
  {% if object == request.user %}
            <div class="span6">
              <h3>Profile</h3>
                        <form class="form-horizontal" method="post"
                              action="{% url 'users:update' %}?next={{ request.path }}">
                            {% crispy profile_form %}
                            <div class="form-actions">
                                <input class="btn btn-primary" type="submit" value="Submit">
                            </div>
                        </form>
            </div>


            <div class="span3">
                <div class="row">
                    <div class="span3">
                        <fieldset>
                          {% comment %}
                            <legend>
                                Other Links
                            </legend>
                            {% endcomment %}
                            <ul class="unstyled">
                              {% comment %}
                                <li>
                                    <a class="" href="{% url 'account_email' %}">Manage E-Mail</a>
                                </li>
                              
                                <li>
                                    <a class="" href="{% url 'events:list' %}">Events List</a>
                                </li>
                                {% endcomment %}
                                
                                
                            </ul>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="span3">
                        <fieldset>
                            <legend>
                                Change Profile Image
                            </legend>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="span3">


                      <div ng-controller="ProfileImgCtrl">

                        <tabset type="nav-pills">
                          <tab ng-hide="true"></tab>
                          {% comment %}
                          <tab class="nav-stacked" heading="Uploaded Photos" select="setUserImg(0)">
                            <tab-content>
                              {% if not avatars %}
                                <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
                              {% else %}
                                <form method="POST" action="{% url 'avatar_change' %}?next={{ request.path }}" id="avatar-change">
                                  <input class="btn btn-primary btn-small pull-right" type="submit" value="{% trans "Save" %}" ng-click="submit()"/>
                                    <div id="avatar-change-panel">
                                      {% csrf_token %}
                                      <ul class="avatar-select">
                                        {{ avatar_primary_form.as_ul }}
                                      </ul>
                                      <div class="clearfix"></div>
                                    </div>
                                </form>
                              {% endif %}

                            </tab-content>
                          </tab>
                          {% endcomment %}
                          <tab class="nav-stacked" heading="Upload From Computer" select="setUserImg(2)">
                            <tab-content>
                              <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}?next={{ request.path }}" id="avatar-add">
                                <input class="btn btn-primary btn-small pull-right" type="submit" value="{% trans "Save" %}" ng-click="submit()" />
                                {{ avatar_upload_form }}
                                {% csrf_token %}
                              </form>
                            </tab-content>
                          </tab>
                          <tab class="nav-stacked" heading="Pull From Facebook" select="setUserImg(1)">
                            <tab-content>
                              <div id="fb-select">
                                  <div ng-init="getUser({{ request.user.id }})">
                                        <button ng-hide="showProfileImgPreview" class="btn btn-info btn-small" ng-click="getFbAlbums()">Choose Photo</button>
                                        <button data-loading-text="Loading..." class="btn btn-primary btn-small pull-right" ng-click="submit()">Save</button>
                                        <img ng-show="showProfileImgPreview" src="{[{ user.profile_img_pic }]}" class="thumbnail">
                                      <div class="clearfix"></div>

                                        <ul class="nav nav-pills nav-stacked">
                                          <li ng-repeat="album in user.albums">
                                            <a ng-click="expandFbAlbum(user, album)">
                                              {[{ album.name }]} <span class="badge badge-info pull-right">{[{ album.count }]}</span>
                                            </a>
                                            <ul class="nav nav-pills nav-stacked" collapse="album.collapse">
                                              <li ng-repeat="photo in album.photos">
                                                <a ng-click="saveProfileImg(user, photo)">
                                                  <img ng-src="{[{ photo.picture }]}">
                                                </a>
                                              </li>
                                            </ul>
                                          </li>
                                        </ul>

                                  </div>
                                </div>

                            </tab-content>
                          </tab>

                        </tabset>
                      </div>




{% comment %}


                        <tabset class="tabs-top">
                            <tab heading="Upload New">
                                <form enctype="multipart/form-data" method="POST"
                                      action="{% url 'avatar_add' %}">
                                    {% csrf_token %}
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <div class="btn-group">
                                    <span class="btn btn-default btn-file">
                                        <span class="fileinput-new">Upload image</span>
                                        <span class="fileinput-exists">Change</span>
                                        <input type="file" name="avatar" id="id_avatar">
                                    </span>
                                            <a href="#" class="btn btn-default fileinput-exists"
                                               data-dismiss="fileinput">Remove</a>
                                            <input class="btn btn-primary" type="submit"
                                                   value="{% trans "Save" %}"/>
                                        </div>
                                        <div class="fileinput-preview" data-trigger="fileinput"
                                             style="width: 100%; height: auto; margin-top: 20px;"></div>
                                    </div>

                                </form>
                            </tab>

                            <tab heading="Set Default">
                                <div id="avatar-change-panel">
                                  {% if not avatars %}
                                      <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
                                  {% else %}
                                    <form method="POST" action="{% url 'avatar_change' %}"
                                          id="avatar-change">
                                        {% csrf_token %}
                                        <ul class="avatar-select">
                                          {{ avatar_primary_form.as_ul }}
                                        </ul>
                                        <input class="btn btn-primary pull-right" type="submit"
                                               value="{% trans "Set profile image" %}"/>

                                        <div class="clearfix"></div>
                                    </form>
                                  {% endif %}
                                </div>

                            </tab>
                            <tab heading="Delete">
                              <div id="avatar-delete-panel">
                                {% if not avatars %}
                                  <p>{% blocktrans %}You have no avatars to delete. Please
                                    <a href="{{ avatar_change_url }}">upload one</a> now.{% endblocktrans %}
                                  </p>
                                {% else %}
                                  <form method="POST" action="{% url 'avatar_delete' %}"
                                        id="avatar-delete">
                                      {% csrf_token %}
                                      <ul class="avatar-select">
                                        {{ avatar_delete_form.as_ul }}
                                      </ul>
                                      <input class="btn btn-danger pull-right" type="submit"
                                             value="{% trans "Delete profile images" %}"/>

                                      <div class="clearfix"></div>
                                  </form>
                                {% endif %}
                              </div>

                            </tab>
                        </tabset>
{% endcomment %}
                    </div>
                </div>
            </div>
        </div>



    {% else %}


        <div class="span12">

        </div>
    {% endif %}




{% endblock content %}

{% block left_content %}
  {% include 'includes/left_content.html' %}
{% endblock left_content %}



{% block jquery %}
  <script type="text/javascript" src="{% static 'ui-calendar-master/bower_components/jquery/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'ui-calendar-master/bower_components/jquery-ui/ui/jquery-ui.js' %}"></script>
{% endblock jquery %}

{% block css %}
  <link rel="stylesheet" href="{% static 'ui-calendar-master/bower_components/fullcalendar/fullcalendar.css' %}">
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/bootstrap-jasny.css' %}">
{% endblock css %}

{% block angular_app_name %}userApp{% endblock angular_app_name %}

{% block angular_core %}
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
{% endblock angular_core %}

{% block angular_ext %}
  <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>
  <script type="text/javascript" src="{% static 'ui-calendar-master/bower_components/fullcalendar/fullcalendar.js' %}"></script>
  <script type="text/javascript" src="{% static 'ui-calendar-master/bower_components/fullcalendar/gcal.js' %}"></script>
  <script type="text/javascript" src="{% static 'ui-calendar-master/src/calendar.js' %}"></script>
{% endblock angular_ext %}

{% block angular_modules %}

  <script src="{% static 'angularjs/app/lib/angular/angular-cookies.js' %}"></script>
  <script src="{% static 'angularjs/app/lib/angular/angular-resource.js' %}"></script>
  <script src="{% static 'angularjs/app/lib/angular/angular-route.js' %}"></script>
  <script src="{% static 'angularjs/app/lib/angular/angular-animate.js' %}"></script>


{% endblock angular_modules %}


{% block angular_app %}
  <script src="{% static 'users/app/js/app-profile.js' %}"></script>
  <script src="{% static 'users/app/js/controllers-alt.js' %}"></script>
  <script src="{% static 'chapters/app/js/left-content-controllers.js' %}"></script>
  <script src="{% static 'users/app/js/services.js' %}"></script>
  <script src="{% static 'users/app/js/directives.js' %}"></script>
  <script src="{% static 'users/app/js/filters.js' %}"></script>

{% endblock angular_app %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'js/bootstrap-jasny.min.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $('#avatar-change').find('.avatar-select').on('click', 'input', function (e) {
        $('#avatar-change').find('.avatar-select').find('.active').removeClass('active');
        var $this = $(this);
        $this.siblings('img').toggleClass('active');

      });
      $('#avatar-delete').find('.avatar-select').on('click', 'input', function (e) {
        var $this = $(this);
        $this.siblings('img').toggleClass('active');
      });
    });
  </script>
{% endblock javascript %}
