{% extends "base.html" %}
{% load static %}{% load i18n %}
{% load avatar_tags %}
{% load crispy_forms_tags staticfiles %}
{% block left_content %}{% endblock left_content %}

{% comment %}For getting request data into angular app{% endcomment %}
{% block extra_body_tag_data %} ng-controller="UserGlobalCtrl"
    ng-init="initialize(
    '{{ user.is_authenticated }}', '{{ user.id }}', '{{ user.chapter_id }}', '{{ user.chapter.get_rush_form.id }}', '{{ request.get_host }}'
    )"{% endblock extra_body_tag_data %}

{% block title %}Members{% endblock %}

{% block content %}
    <div>

    <div class="row">
    <div class="span3 left-column">
        <form class="form-search">
            <div class="controls">
                <input type="text" id="user-filter" name="user-filter" class="search-query input-medium"
                       placeholder="Search" ng-model="userFilter"
                       typeahead="user.get_full_name for user in globals.users | filter:$viewValue | limitTo:8"/>
            </div>
        </form>
        <ul ng-show="userFilter.length" class="nav nav-pills nav-stacked">

            <li ng-repeat="user in globals.users | filter:userFilter | orderBy:'start'"
                ng-model="globals.users"
                data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
                jqyoui-draggable="{index: {[{$index}]}, animate:true, placeholder: 'keep'}"
                    >

                <a href="#/users/{[{ user.id }]}"
                   data-popover="
                                {[{ user.phone }]}
                                {[{ user.email }]}
                                {[{ user.year_display }]}
                                {[{ user.major }]}
                                {[{ user.status }]}
                                "
                   data-popover-title="{[{ user.last_name }]}, {[{ user.first_name }]}"
                   data-popover-placement="right"
                   data-popover-trigger="mouseenter"
                   data-popover-popup-delay="500"
                        >
                    <img ng-src="{[{ user.profile_image_url }]}">
                    {[{ user.last_name }]}, {[{ user.first_name }]}
                </a>

            </li>
        </ul>


    </div>

    <div class="span9">
        <tabset class="tabs-top members-tabs">
            <tab ng-repeat="tab in globals.tabs | orderBy:'order'"
                 active="tab.active"
                 select="tab.select()">
                <tab-heading>
                    {[{ tab.heading }]}  <span class="badge badge-info">{[{ tab.count }]}</span>
                </tab-heading>
                <tab-content>
                    <a ng-show="{[{ tab.status == 'rush' }]}" ng-click="globals.openCarouselModal()" class="btn btn-link pull-right">Slide Show</a>
                </tab-content>
            </tab>
            <tab select="globals.getGroup('/users/filter/group/', 'Call List')">
                <tab-heading>
                     Call List  <span class="badge badge-info">{[{ globals.chapter.call_count }]}</span>
                </tab-heading>
                <tab-content>
                   <a ng-click="globals.openCarouselModal()" class="btn btn-link pull-right">Slide Show</a>
                </tab-content>
            </tab>

        </tabset>
    <div ng-view></div>
    </div>


<script type="text/ng-template" id="list.html">

<div ng-controller="GroupListCtrl">
                <ul class="nav nav-pills nav-stacked">
                    <li
                    ng-repeat="user in users | orderBy: 'status_order'">


                <a href="#/users/{[{ user.id }]}" class="user-detail {[{ user.status }]}">
                           <ul class="inline">
                               <li>
                                        <img class="pull-left thumbnail" ng-src="{[{ user.profile_image_url }]}">
                               </li>
                               <li>
                                        {[{ user.status }]}
                               </li>
                               <li>
                                        {[{ user.first_name }]}
                                        {[{ user.last_name }]}
                               </li>
                               <li>
                           </ul>
                </a>

                    <div class="user-edit-menu dropdown btn-group">
                      <a class="dropdown-toggle btn btn-link btn-mini">
                      <i class="fa fa-cog fa-lg"></i>
                        <span class="caret"></span>
                      </a>

                      <ul class="dropdown-menu" ng-show="user.status == 'active_pending'">
                            <li>
                            <a ng-click="modUser(user, 'remove', 'active_pending', 'active')">
                            Approve
                            </a>
                            </li>
                            <li>
                            <a ng-click="modUser(user, 'remove', 'active_pending', 'rush')">
                            Remove
                            </a>
                            </li>
                      </ul>

                      <ul class="dropdown-menu" ng-show="user.status == 'active'">
                            <li ng-hide="user.is_chapter_admin">
                                <a ng-click="modUser(user, 'add', 'admin', 'admin')">
                                Make Admin
                                </a>
                            </li>
                            <li ng-show="user.is_chapter_admin">
                                <a ng-click="modUser(user, 'remove', 'admin', 'active')">
                                Remove From Admin
                                </a>
                            </li>
                            <li ng-hide="user.status == 'pledge'">
                                <a ng-click="modUser(user, 'remove', 'active', 'pledge')">
                                Make Pledge
                                </a>
                            </li>
                            <li ng-show="user.status == 'active'">
                                <a ng-click="modUser(user, 'remove', 'active', 'rush')">
                                Make Rush
                                </a>
                            </li>
                            <li ng-show="user.status == 'active'">
                                <a ng-click="modUser(user, 'remove', 'active', 'active_pending')">
                                Delete
                                </a>
                            </li>
                      </ul>

                      <ul class="dropdown-menu" ng-show="user.status == 'pledge'">
                            <li ng-hide="user.is_chapter_admin">
                                <a ng-click="modUser(user, 'add', 'admin', 'admin')">
                                Make Admin
                                </a>
                            </li>
                            <li ng-show="user.is_chapter_admin">
                                <a ng-click="modUser(user, 'remove', 'admin', 'pledge')">
                                Remove From Admin
                                </a>
                            </li>
                            <li ng-hide="user.status == 'active'">
                                <a ng-click="modUser(user, 'remove', 'pledge', 'active')">
                                Make Active
                                </a>
                            </li>
                            <li ng-show="user.status == 'pledge'">
                                <a ng-click="modUser(user, 'remove', 'pledge', 'rush')">
                                Make Rush
                                </a>
                            </li>
                            <li ng-show="user.status == 'pledge'">
                                <a ng-click="modUser(user, 'remove', 'pledge', 'active_pending')">
                                Delete
                                </a>
                            </li>
                      </ul>

                      <ul class="dropdown-menu" ng-show="user.status == 'rush'">
                            <li ng-show="user.is_call">
                                <a ng-click="modUser(user, 'remove', 'rush', 'call')">
                                Remove from Call List
                                </a>
                            </li>
                            <li ng-hide="user.is_call">
                                <a ng-click="modUser(user, 'add', 'rush', 'call')">
                                Add to Call List
                                </a>
                            </li>
                            <li ng-hide="user.status == 'active'">
                                <a ng-click="modUser(user, 'add', 'rush', 'active')">
                                Make Active
                                </a>
                            </li>
                            <li ng-hide="user.status == 'pledge'">
                                <a ng-click="modUser(user, 'add', 'rush', 'pledge')">
                                Make Pledge
                                </a>
                            </li>
                            <li ng-show="user.status == 'rush'">
                                <a ng-click="modUser(user, 'remove', 'active_pending', 'rush')">
                                Delete
                                </a>
                            </li>
                      </ul>




                    </div>



                {% comment %}
                        <a href="#/users/{[{ user.id }]}"
                                class="{[{ user.status }]}"
                                data-popover="
                                {[{ user.phone }]}
                                {[{ user.email }]}
                                {[{ user.year_display }]}
                                {[{ user.major }]}
                                {[{ user.status }]}
                                "
                                data-popover-title="{[{ user.last_name }]}, {[{ user.first_name }]}"
                                data-popover-placement="right"
                                data-popover-trigger="mouseenter"
                                data-popover-popup-delay="500"
                                >
                            <img ng-src="{[{ user.profile_image_url }]}">
                            {[{ user.last_name }]}, {[{ user.first_name }]}
                        </a>
                {% endcomment %}



                    </li>
                </ul>


        </div>
</div>


</script>

    <script type="text/ng-template" id="detail.html">


<div class="row">
    <div class="span3">
        <img ng-src="{[{user.profile_image_lg_url}]}">
    </div>
    <div class="span6">
    <h3>{[{ user.get_full_name }]}
    <small>
        {[{ user.status }]}
    </small>
    </h3>


        <ul class="unstyled">
            <li>
                <dl class="dl-horizontal profile-list">
                    <dt ng-show="user.year">Year</dt>
                    <dd>{[{ user.year_display }]}</dd>
                    <dt ng-show="user.major">Major</dt>
                    <dd>{[{ user.major }]}</dd>
                    <dt ng-show="user.gpa">GPA</dt>
                    <dd>{[{ user.gpa }]}</dd>
                    <dt ng-show="user.hometown">Hometown</dt>
                    <dd>{[{ user.hometown }]}</dd>
                    <dt ng-show="user.email">Email</dt>
                    <dd>{[{ user.email }]}</dd>
                    <dt ng-show="user.phone">Phone</dt>
                    <dd>{[{ user.phone }]}</dd>
                </dl>
            </li>
            <li>
              <dl class="dl-horizontal profile-list">
                <dt ng-show="user.fb_extra_data.bio">Bio:</dt>
                <dd>{[{ user.fb_extra_data.bio }]}</dd>
                <dt ng-show="user.fb_extra_data.hometown">hometown:</dt>
                <dd>{[{ user.fb_extra_data.hometown.name }]}</dd>
                <dt ng-show="user.fb_extra_data.languages">languages:</dt>
                <dd>
                  <ul class="unstyled">
                    <li ng-repeat="language in user.fb_extra_data.languages">
                      {[{ language.name }]}
                    </li>
                  </ul>
                </dd>
                <dt ng-show="user.fb_extra_data.location">location:</dt>

                <dd>{[{ user.fb_extra_data.location.name }]}</dd>
                <dt ng-show="user.fb_extra_data.education">education:</dt>
                <dd>
                  <ul class="unstyled">
                    <li ng-repeat="education in user.fb_extra_data.education">
                      <ul class="inline">
                        <li><span class="badge">{[{ education.type }]}<span></li>
                        <li>{[{ education.school.name }]}</li>
                         <li>{[{ education.year.name }]}</li>
                      </ul>
                    </li>
                  </ul>
                </dd>
        </ul>

    </div>
                    {% comment %}
    <div class="span3" ng-hide="true">
                    <div class="user-edit-menu dropdown btn-group">
                      <a class="dropdown-toggle btn btn-link btn-mini">
                      <i class="fa fa-cog fa-lg"></i>
                        <span class="caret"></span>
                      </a>

                      <ul class="dropdown-menu" ng-show="user.status == 'active_pending'">
                            <li>
                            <a ng-click="globals.modUser(user, 'remove', 'active_pending', 'active')">
                            Approve
                            </a>
                            </li>
                            <li>
                            <a ng-click="globals.modUser(user, 'remove', 'active_pending', 'rush')">
                            Remove
                            </a>
                            </li>
                      </ul>

                      <ul class="dropdown-menu" ng-show="user.status == 'active'">
                            <li ng-hide="user.is_chapter_admin">
                                <a ng-click="globals.modUser(user, 'add', 'admin', 'admin')">
                                Make Admin
                                </a>
                            </li>
                            <li ng-show="user.is_chapter_admin">
                                <a ng-click="globals.modUser(user, 'remove', 'admin', 'active')">
                                Remove From Admin
                                </a>
                            </li>
                            <li ng-hide="user.status == 'pledge'">
                                <a ng-click="globals.modUser(user, 'remove', 'active', 'pledge')">
                                Make Pledge
                                </a>
                            </li>
                            <li ng-show="user.status == 'active'">
                                <a ng-click="globals.modUser(user, 'remove', 'active', 'rush')">
                                Make Rush
                                </a>
                            </li>
                            <li ng-show="user.status == 'active'">
                                <a ng-click="globals.modUser(user, 'remove', 'active', 'active_pending')">
                                Delete
                                </a>
                            </li>
                      </ul>

                      <ul class="dropdown-menu" ng-show="user.status == 'pledge'">
                            <li ng-hide="user.is_chapter_admin">
                                <a ng-click="globals.modUser(user, 'add', 'admin', 'admin')">
                                Make Admin
                                </a>
                            </li>
                            <li ng-show="user.is_chapter_admin">
                                <a ng-click="globals.modUser(user, 'remove', 'admin', 'pledge')">
                                Remove From Admin
                                </a>
                            </li>
                            <li ng-hide="user.status == 'active'">
                                <a ng-click="globals.modUser(user, 'remove', 'pledge', 'active')">
                                Make Active
                                </a>
                            </li>
                            <li ng-show="user.status == 'pledge'">
                                <a ng-click="globals.modUser(user, 'remove', 'pledge', 'rush')">
                                Make Rush
                                </a>
                            </li>
                            <li ng-show="user.status == 'pledge'">
                                <a ng-click="globals.modUser(user, 'remove', 'pledge', 'active_pending')">
                                Delete
                                </a>
                            </li>
                      </ul>

                      <ul class="dropdown-menu" ng-show="user.status == 'rush'">
                            <li ng-show="user.is_call">
                                <a ng-click="globals.modUser(user, 'remove', 'rush', 'call')">
                                Remove from Call List
                                </a>
                            </li>
                            <li ng-hide="user.is_call">
                                <a ng-click="globals.modUser(user, 'add', 'rush', 'call')">
                                Add to Call List
                                </a>
                            </li>
                            <li ng-hide="user.status == 'active'">
                                <a ng-click="globals.modUser(user, 'add', 'rush', 'active')">
                                Make Active
                                </a>
                            </li>
                            <li ng-hide="user.status == 'pledge'">
                                <a ng-click="globals.modUser(user, 'add', 'rush', 'pledge')">
                                Make Pledge
                                </a>
                            </li>
                            <li ng-show="user.status == 'rush'">
                                <a ng-click="globals.modUser(user, 'remove', 'active_pending', 'rush')">
                                Delete
                                </a>
                            </li>
                      </ul>

                    </div>
        </div>
                    {% endcomment %}
</div>

<br/>
<br/>

</script>

    <script type="text/ng-template" id="group-display.html">
<span>{[{ groupName }]}</span>
</script>

    <script type="text/ng-template" id="carousel-modal.html">

<div class="container top-bar"></div>

        <carousel interval="5000">
            <slide ng-repeat="user in users" active="user.active">
        <div class="modal-header">
            <button type="button" class="close" ng-click="ok()">&times;</button>
                            <h3>
                                {[{ user.first_name }]} {[{ user.last_name }]}
                                <small>  -  {[{ user.status }]}</small>
                            </h3>
        </div>

                <div class="modal-body">

                    <div class="row">
                        <div class="span4">
                            <img ng-src="{[{user.profile_image_lg_url}]}">
                        </div>
                        <div class="span4">
                            <ul class="unstyled">
                                <li>
                                    <dl class="dl-horizontal profile-list">
                                        <dt ng-show="user.year_display">Year</dt>
                                        <dd>{[{ user.year_display }]}</dd>
                                        <dt ng-show="user.major">Major</dt>
                                        <dd>{[{ user.major }]}</dd>
                                        <dt ng-show="user.highschool_gpa">HS GPA</dt>
                                        <dd>{[{ user.highschool_gpa }]}</dd>
                                        <dt ng-show="user.gpa">GPA</dt>
                                        <dd>{[{ user.gpa }]}</dd>
                                        <dt ng-show="user.hometown">Hometown</dt>
                                        <dd>{[{ user.hometown }]}</dd>
                                        <dt ng-show="user.email">Email</dt>
                                        <dd>{[{ user.email }]}</dd>
                                        <dt ng-show="user.phone">Phone</dt>
                                        <dd>{[{ user.phone }]}</dd>
                                    </dl>


                                </li>
                                <li class="divider"></li>

                                <li ng-repeat="field in user.fields">
                                    <ul class="inline rush-form-list">
                                        <li class="question">{[{ field.label }]}</li>
                                        <li class="answer">{[{ field.value }]}</li>
                                        <li class="divider"></li>
                                        </dl>
                                </li>
                            </ul>

                        </div>
                        <div class="span4">

                            <ul class="unstyled events-list">
                                <li>
                                    <ul class="inline">
                                        <li><span>Rush Week Events</span></li>
                                        <li class="pull-right"><span>Attend</span></li>
                                        <li class="pull-right"><span>Rsvp</span></li>
                                    </ul>
                                </li>

                                <li class="divider"></li>

                                <li ng-repeat="event in events">

                                    <ul class="inline">
                                        <li><a href="/events/#events/{[{ event.id }]}">{[{ event.title }]}</a></li>
                                        <li ng-show="getEventAttendForUser(user, event)" class="pull-right">
                                        <i class="text-success fa fa-check-circle-o fa-lg"></i>
                                        </li>
                                        <li ng-hide="getEventAttendForUser(user, event)" class="pull-right">
                                        <i class="text-error fa fa-times-circle-o fa-lg"></i>
                                        </li>
                                        <li ng-show="getEventRsvpForUser(user, event)" class="pull-right">
                                        <i class="text-success fa fa-check-circle-o fa-lg"></i>
                                        </li>
                                        <li ng-hide="getEventRsvpForUser(user, event)" class="pull-right">
                                        <i class="text-error fa fa-times-circle-o fa-lg"></i>
                                        </li>
                                        <li class="divider"></li>
                                    </ul>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button ng-hide="user.is_call" type="button" class="btn btn-default" ng-click="modUser(user, 'add', 'rush', 'call')" ng-model="user.is_call" btn-radio="true">
                        Add to call list
                    </button>
                    <button ng-show="user.is_call" type="button" class="btn btn-default" ng-click="modUser(user, 'remove', 'rush', 'call')" ng-model="user.is_call" btn-radio="false">
                        Remove from call list
                    </button>

            {% comment %}
            {# Thumbs up / down call list functionality #}
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-click="modUser(user, 'add', 'rush', 'call')" ng-model="user.is_call" btn-radio="true">
                        <i class="text-info fa fa-thumbs-o-up fa-lg"></i>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="modUser(user, 'remove', 'rush', 'call')" ng-model="user.is_call" btn-radio="false">
                        <i class="text-error fa fa-thumbs-o-down fa-lg"></i>
                    </button>
                </div>
            {% endcomment %}


            </div>

    </slide>
    </carousel>


</script>























    <script type="text/ng-template" id="query.html">
                <ul class="nav nav-pills nav-stacked">

                    <li
                    ng-repeat="user in users | orderBy: 'status_order'">




                <a href="#/users/{[{ user.id }]}" class="user-detail {[{ user.status }]}">
                           <ul class="inline">
                               <li>
                                        <img class="pull-left thumbnail" ng-src="{[{ user.profile_image_url }]}">
                               </li>
                               <li>
                                        {[{ user.status }]}
                               </li>
                               <li>
                                        {[{ user.first_name }]}
                                        {[{ user.last_name }]}
                               </li>
                           </ul>
                </a>


                    <div class="user-edit-menu dropdown btn-group">
                      <a class="dropdown-toggle btn">
                        Edit
                        <span class="caret"></span>
                      </a>

                      <ul class="dropdown-menu" ng-show="user.status == 'active_pending'">
                            <li>
                            <a ng-click="modUser(user, 'remove', 'active_pending', 'active')">
                            Approve
                            </a>
                            </li>
                            <li>
                            <a ng-click="modUser(user, 'remove', 'active_pending', 'rush')">
                            Remove
                            </a>
                            </li>
                      </ul>

                      <ul class="dropdown-menu" ng-show="user.status == 'active'">
                            <li ng-hide="user.is_chapter_admin">
                                <a ng-click="modUser(user, 'add', 'admin', 'admin')">
                                Make Admin
                                </a>
                            </li>
                            <li ng-show="user.is_chapter_admin">
                                <a ng-click="modUser(user, 'remove', 'admin', 'active')">
                                Remove From Admin
                                </a>
                            </li>
                            <li ng-hide="user.status == 'pledge'">
                                <a ng-click="modUser(user, 'remove', 'active', 'pledge')">
                                Make Pledge
                                </a>
                            </li>
                            <li ng-show="user.status == 'active'">
                                <a ng-click="modUser(user, 'remove', 'active', 'rush')">
                                Make Rush
                                </a>
                            </li>
                            <li ng-show="user.status == 'active'">
                                <a ng-click="modUser(user, 'remove', 'active', 'active_pending')">
                                Delete
                                </a>
                            </li>
                      </ul>

                      <ul class="dropdown-menu" ng-show="user.status == 'pledge'">
                            <li ng-hide="user.is_chapter_admin">
                                <a ng-click="modUser(user, 'add', 'admin', 'admin')">
                                Make Admin
                                </a>
                            </li>
                            <li ng-show="user.is_chapter_admin">
                                <a ng-click="modUser(user, 'remove', 'admin', 'pledge')">
                                Remove From Admin
                                </a>
                            </li>
                            <li ng-hide="user.status == 'active'">
                                <a ng-click="modUser(user, 'remove', 'pledge', 'active')">
                                Make Active
                                </a>
                            </li>
                            <li ng-show="user.status == 'pledge'">
                                <a ng-click="modUser(user, 'remove', 'pledge', 'rush')">
                                Make Rush
                                </a>
                            </li>
                            <li ng-show="user.status == 'pledge'">
                                <a ng-click="modUser(user, 'remove', 'pledge', 'active_pending')">
                                Delete
                                </a>
                            </li>
                      </ul>

                      <ul class="dropdown-menu" ng-show="user.status == 'rush'">
                            <li ng-hide="user.status == 'active'">
                                <a ng-click="modUser(user, 'add', 'rush', 'active')">
                                Make Active
                                </a>
                            </li>
                            <li ng-hide="user.status == 'pledge'">
                                <a ng-click="modUser(user, 'add', 'rush', 'pledge')">
                                Make Pledge
                                </a>
                            </li>
                            <li ng-show="user.status == 'rush'">
                                <a ng-click="modUser(user, 'remove', 'active_pending', 'rush')">
                                Delete
                                </a>
                            </li>
                      </ul>




                    </div>



                {% comment %}
                        <a href="#/users/{[{ user.id }]}"
                                class="{[{ user.status }]}"
                                data-popover="
                                {[{ user.phone }]}
                                {[{ user.email }]}
                                {[{ user.year_display }]}
                                {[{ user.major }]}
                                {[{ user.status }]}
                                "
                                data-popover-title="{[{ user.last_name }]}, {[{ user.first_name }]}"
                                data-popover-placement="right"
                                data-popover-trigger="mouseenter"
                                data-popover-popup-delay="500"
                                >
                            <img ng-src="{[{ user.profile_image_url }]}">
                            {[{ user.last_name }]}, {[{ user.first_name }]}
                        </a>
                {% endcomment %}



                    </li>
                </ul>


        </div>


</script>



    <div ng-controller="MyFormCtrl">
        <script type="text/ng-template" id="newGroupModal.html">
<div class="modal-header">
    <h3>Create New Group</h3>
</div>
<div class="modal-body">
    <form class="form">
        <div class="control-group">
            <label class="control-label" for="group.name">Title</label>
            <div class="controls">
                <input id="group.name" class="input-block-level" ng-model="group.name"/>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>

</script>
    </div>



    </div>
    </div>







{% endblock content %}


{% block angular_app_name %}userApp{% endblock angular_app_name %}

{% block angular_modules %}
    <script src="{% static 'angularjs/app/lib/angular/angular-cookies.js' %}"></script>
    <script src="{% static 'angularjs/app/lib/angular/angular-resource.js' %}"></script>
    <script src="{% static 'angularjs/app/lib/angular/angular-route.js' %}"></script>
    <script src="{% static 'angularjs/app/lib/angular/angular-animate.js' %}"></script>

    <script src="{% static 'users/app/lib/angular/angular-dragdrop.min.js' %}"></script>
{% endblock angular_modules %}
{% block angular_app %}
    <script src="{% static 'users/app/js/app.js' %}"></script>
    <script src="{% static 'users/app/js/controllers-alt.js' %}"></script>
    <script src="{% static 'users/app/js/services.js' %}"></script>
    <script src="{% static 'users/app/js/directives.js' %}"></script>
    <script src="{% static 'users/app/js/filters.js' %}"></script>

    <script src="{% static 'groups/app/js/controllers.js' %}"></script>
    <script src="{% static 'groups/app/js/services.js' %}"></script>


{% endblock angular_app %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'users/app/lib/jquery-ui/ui/minified/jquery-ui.min.js' %}"></script>

{% endblock javascript %}

{% block css %}
    {{ block.super }}
    <style>
        .nav > li > a > img {
            max-width: 40px;
        }
    </style>
{% endblock css %}

