{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en" ng-app="{% block angular_app_name %}panelApp{% endblock angular_app_name %}"
        {% block extra_html_tag_data %}{% endblock extra_html_tag_data %}>

<head>
    <meta charset="utf-8">
    <title>{% block title %}onegreek{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css %}
        <link href="{% static 'css/project.css' %}" rel="stylesheet">
        <!-- Latest compiled and minified CSS -->
      <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        {% if debug %}
            <!--link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"-->
            <!--link href="{% static 'css/font-awesome.css' %}" rel="stylesheet"-->
        {% else %}
            <!--link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css"-->
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/2.3.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        {% endif %}


    {% endblock css %}

{% block jquery %}
  {% if debug %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/holder.js' %}"></script>
  {% else %}
    <!-- Latest JQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <!-- Not needed with Angular -->
    <!--script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script-->
  {% endif %}
{% endblock %}



    {% if debug %}

    <link rel="stylesheet/less" href="{% static 'less/bootstrap.less' %}">
    <script type="text/javascript">
        less = {
            env: "development", // or "production"
            async: false,       // load imports async
            fileAsync: false,   // load imports async when in a page under
            // a file protocol
            poll: 1000,         // when in watch mode, time in ms between polls
            functions: {},      // user functions, keyed by name
            dumpLineNumbers: "comments", // or "mediaquery" or "all"
            relativeUrls: false,// whether to adjust url's to be relative
            // if false, url's are already relative to the
            // entry less file
            rootpath: ""// a path to add on to the start of every url
            //resource
        };
    </script>
    <script src="{% static 'js/less-1.5.1.min.js' %}"></script>

{% endif %}


    {% block angular %}
        {% block angular_core %}
            <!--script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script-->
            <script src="{% static 'angularjs/app/lib/angular/angular.min.js' %}"></script>
        {% endblock angular_core %}
        {% block angular_ext %}
            <script src="{% static 'angularjs/app/lib/bootstrap/ui-bootstrap-tpls-0.6.0.js' %}"></script>
            <!--script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.9.0.js"></script-->
        {% endblock angular_ext %}
        {% block angular_modules %}
            <script src="{% static 'angularjs/app/lib/angular/angular-cookies.js' %}"></script>
            <script src="{% static 'angularjs/app/lib/angular/angular-resource.js' %}"></script>
            <script src="{% static 'angularjs/app/lib/angular/angular-route.js' %}"></script>
            <script src="{% static 'angularjs/app/lib/angular/angular-animate.js' %}"></script>
        {% endblock angular_modules %}
        {% block angular_app %}
        {% endblock angular_app %}

    {% endblock angular %}


</head>

<body {% block extra_body_tag_data %}{% endblock extra_body_tag_data %}>

{% block header_navbar %}
{% endblock header_navbar %}

{% block user_panel %}
    {% load avatar_tags i18n %}

        {% if request.user.is_staff %}
            <div class="panel">
                <div class="span3">
                    <a class="" ng-click="isCollapsed = !isCollapsed">
                        <img class="thumbnail pull-left" src="{{ request.user.profile_image_url }}">
                        {% with request.user as user %}
                            <ul class="unstyled inline">
                                <li>
                                    {{ user.get_full_name }} <br/>
                                </li>
                                <li>
                                    {{ user.status|title }}{% if user.status != 'rush' %} -
                                        {{ user.chapter.fraternity.title }}{% endif %}
                                </li>
                            </ul>
                            </a>

                        {% endwith %}

                </div>
                <div collapse="!isCollapsed">

                    <div class="span2">

                        <ul class="nav nav-list">
                            <li class="nav-header">Account</li>
                            <li><a href="{% url 'users:detail' request.user.id %}">{% trans "Profile" %}</a></li>
                            <li><a href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>
                        </ul>
                    </div>

                    <div class="span2">
                        <ul class="nav nav-list">
                            <li class="nav-header">Admin</li>
                            <li><a href="{% url 'api-root' %}">API</a></li>
                            <li><a href="/admin/">Admin</a></li>
                        </ul>
                    </div>

                    <div class="span2">
                        <ul class="nav nav-list">
                            <li class="nav-header">Chapter</li>
                            {% if request.user.chapter and request.user.fraternity %}
                                <li>
                                    <a href="{% url 'chapters:detail' request.user.chapter_id %}"
                                       title="{{ request.user.fraternity.title }}">Profile</a>
                                </li>
                                <li><a href="{% url 'events:list' %}">Events</a></li>
                            {% endif %}
                            {% if request.user.is_chapter_admin %}
                                <li><a href="{% url 'users:list' %}">Members</a></li>
                                <li><a href="{% url 'chapters:update' request.user.chapter_id %}">Edit</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="span2">
                        <ul class="nav nav-list">
                            <li class="nav-header">Images</li>
                            <li><a href="{% url 'imagestore:upload' %}">Upload</a></li>
                            <li><a href="{% url 'imagestore:user' request.user.id %}">Albums</a></li>
                            <li><a href="{% url 'imagestore:user-images' request.user.id %}">Images</a></li>
                        </ul>
                    </div>
                    <div class="span2">
                        <ul class="nav nav-list">
                            <li class="nav-header">Community</li>
                            <li><a href="{% url 'chapters:list' %}">Chapters</a></li>
                            <li><a href="{% url 'events:list' %}">Events</a></li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="clearfix"></div>
        {% else %}


            <div class="container">
            <div class="row">
            <div class="span4">
                    <img class="" src="{% static 'img/logos/300x100logo.jpg' %}">
            </div>

        {% if request.user.is_authenticated %}


                <div class="span4 offset4">
                    {% with request.user as user %}
                    <div class="user-detail2 media">
                        <a class="pull-left" href="{% url 'users:detail' request.user.id %}">
                            <img class="thumbnail" src="{{ user.profile_image_url }}">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading center-text">
                                Welcome, {{ user.get_full_name }} <br/>
                            </h4>
                            <p class="center-text">
                                {{ user.get_status_display }}{% if user.status != 'rush' %} - {{ user.chapter.fraternity.title }}{% endif %}
                            <br>
                                <a href="{% url 'users:detail' request.user.id %}">{% trans "Profile" %}</a> <span class="divider"></span>
                                <a href="{% url 'account_logout' %}">{% trans "Logout" %}</a>
                            </p>
                        </div>
                    </div>
                    {% endwith %}
                </div>

        {% else %}

            <div class="span3 offset5">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="thumbnail pull-left" src="holder.js/40x40">
                    </a>
                    <div class="media-body">
                        <h6 class="media-heading">
                            You are currently not logged in
                        </h6>
                        <ul class="inline">
                            <li>
                                <a href="{% url 'account_login' %}">{% trans "Connect with Facebook" %}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        {% endif %}

            </div>
            </div>

        {% endif %}

{% endblock user_panel %}



{% block header_top %}{% endblock header_top %}


<div class="container top-bar"></div>
<div class="container page-wrapper">
    {% if messages %}
        <div class="row">
            {% for message in messages %}
                <div data-alert class="alert alert-box radius {{ message.tags }}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div><!-- .alert-box -->
            {% endfor %}
        </div><!-- .row -->
    {% endif %}
    {% if request.user.is_authenticated %}
    {% if not request.user.profile_complete %}
    <div class="row">
                <div data-alert class="alert alert-box radius alert-danger">
                
                    You need to complete your profile to participate in OneGreek events <a href="{% url 'users:detail' request.user.id %}" class="btn btn-danger pull-right">Edit Profile</a>
                    <div class="clearfix"></div>
                </div><!-- .alert-box -->
           
        </div><!-- .row -->
    {% endif %}
    {% endif %}
<div class="pull-right">
    {% block breadcrumb %}
    {% endblock breadcrumb %}
</div>
    {% block header_content %}{% endblock header_content %}
    <div class="row">
        <div class="left-column">
            {% block left_content %}
            {% endblock left_content %}
        </div>

        {% block content %}
        {% endblock content %}
    </div>
<div class="row">
    {% block content-related %}
    {% endblock content-related %}
</div>

</div>
<!-- /container -->

{% block modal %}{% endblock modal %}

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script>

    angular.module('panelApp', [
        'ui.bootstrap']);
    function CollapseNavCtrl($scope) {
        $scope.isCollapsed = false;
        console.log($scope.isCollapsed);
    }
</script>
{% block javascript %}
{% endblock javascript %}


</body>
</html>
 