{% extends "avatar/base.html" %}
{% load i18n staticfiles avatar_tags %}
{% load url from future %}

{% block content %}
  <div ng-controller="ProfileImgCtrl">

  <tabset>
  <tab ng-hide="true"></tab>
    <tab heading="Use Facebook Default" select="setUserImg(0)">
      <tab-content>
        {% if not avatars %}
          <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
        {% else %}
          <form method="POST" action="{% url 'avatar_change' %}?next=/" id="avatar-change">

      <div class="span9">
        <h4>Use Facebook Default</h4>
        <div id="avatar-change-panel">
              {% csrf_token %}
              <ul class="avatar-select">
                {{ primary_avatar_form.as_ul }}
              </ul>
              <div class="clearfix"></div>
        </div>
      </div>
      <div class="span3">
        <input class="btn btn-primary btn-large" type="submit" value="{% trans "Save & Continue" %}" ng-click="submitRedirect('/')"/>
      </div>
          </form>
        {% endif %}

      </tab-content>
    </tab>
    <tab heading="Upload New Photo" select="setUserImg(2)">
      <tab-content>
        <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}?next=/" id="avatar-add">
        <div class="span9">
        <h4>Upload New Photo</h4>
          {{ upload_avatar_form.as_p }}
          {% csrf_token %}
        </div>
        <div class="span3">
          <input class="btn btn-primary btn-large" type="submit" value="{% trans "Save & Continue" %}" ng-click="submitRedirect('/')" />
        </div>
        </form>
      </tab-content>
    </tab>
    <tab heading="Choose Photo from Facebook Albums" select="setUserImg(1)">
      <tab-content>
        <div id="fb-select">
        <div class="span9">
        <h4>Choose Photo from Facebook Albums</h4>

          <div ng-init="getUser({{ request.user.id }})">

            <div class="row">
              <div class="span3">
                <button ng-hide="showProfileImgPreview" class="btn btn-primary" ng-click="getFbAlbums()">Choose Photo</button>
                <img ng-show="showProfileImgPreview" src="{[{ user.profile_img_pic }]}" class="thumbnail">
              </div>
              <div class="span6">

            <ul class="nav nav-pills nav-stacked">
              <li ng-repeat="album in user.albums">
                <a ng-click="expandFbAlbum(user, album)">
                  {[{ album.name }]} <span class="badge badge-info pull-right">{[{ album.count }]}</span>
                </a>
                <ul class="nav nav-pills nav-stacked" collapse="album.collapse">
                  <li ng-repeat="photo in album.photos">
                    <a ng-click="saveProfileImg(user, photo)">
                      <img ng-src="{[{ photo.picture }]}">
                    </a>
                  </li>
                </ul>
              </li>
            </ul>

              </div>
            </div>

          </div>
        </div>
        <div class="span3">
          <button class="btn btn-primary btn-large" ng-click="submitRedirect('/')">Save & Continue</button>
        </div>
        </div>

      </tab-content>
    </tab>

  </tabset>
  </div>


{% endblock %}

{% block angular_app_name %}userApp{% endblock angular_app_name %}

{% block angular_modules %}
  {{ block.super }}
  <script src="{% static 'users/app/lib/angular/angular-dragdrop.min.js' %}"></script>
{% endblock angular_modules %}
{% block angular_app %}
  <script src="{% static 'users/app/js/app-profile.js' %}"></script>
  <script src="{% static 'users/app/js/controllers.js' %}"></script>
  <script src="{% static 'users/app/js/services.js' %}"></script>
  <script src="{% static 'users/app/js/directives.js' %}"></script>
  <script src="{% static 'users/app/js/filters.js' %}"></script>
{% endblock angular_app %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/bootstrap-jasny.css' %}">
  <style>
    table.month td.day {
      height: 80px;
    }
  .nav-tabs li {
    min-width: 33%;
    text-align: center;
  }
  </style>
  {{ block.super }}
{% endblock css %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'js/bootstrap-jasny.min.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $('#avatar-change').find('.avatar-select').on('click', 'input', function (e) {
        $('#avatar-change').find('.avatar-select').find('.active').removeClass('active');
        var $this = $(this);
        $this.siblings('img').toggleClass('active');

      });
    });
  </script>
{% endblock javascript %}
